:root {
  --ff: 'Inter', system-ui;

  --fs-400: 0.875rem;
  --fs-500: 1.5rem;

  --fw-400: 400;
  --fw-600: 600;
  --fw-700: 700;

  --primary: 159, 94%, 57%;

  --clr-primary: hsl(var(--primary));
  --clr-primary-accent: hsl(var(--primary), 0.4);

  --clr-white: hsl(0, 0%, 100%);
  --clr-white-accent: hsl(0, 0%, 100%, 0.8);
  --clr-grey: hsl(0, 0%, 20%);
  --clr-dark-grey: hsl(0, 0%, 12%);
  --clr-off-black: hsl(0, 0%, 8%);

  --clr-linkedIn: hsl(210, 90.2%, 40%);
  --clr-fem: hsl(227, 44.9%, 44.1%);
  --clr-ig: hsl(333, 67.8%, 50%);

  --spacing-m: 1.75rem;
}

/* Light yellow (Hex: #feda75 and RGB: 254,218,117), orange (Hex: #fa7e1e and RGB: 250,126,30), pink (Hex: #d62976 and RGB: 214,41,118), purple (Hex: #962fbf and RGB: 150,47,191) and blue (Hex: #4f5bd5 and RGB: 79,91,213). */

/* makes sizing simpler */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus {
  outline: solid 2px var(--clr-primary);
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */
* {
  margin: 0;
  padding: 0;
  /* font: inherit; */
}

/* dark mode user-agent-styles */
/* improves punctuation in supported browsers */
html {
  color-scheme: dark light;
  hanging-punctuation: first last;
}

/* min body height */
body {
  min-height: 100svh;
  font-family: var(--ff);
  background: var(--clr-off-black);
  display: grid;
  place-items: center;
  color: var(--clr-white);
  font-size: var(--fs-400);
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

img {
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: none;
  background-size: cover;
  shape-margin: 0.75rem;
}

/* Improved heading in supported browsers */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  font-weight: var(--fw-400);
}

/* improve readability with max-width on paragraphs and lists */
/* prevent orphans in supported browsers */
p,
q,
li {
  max-width: var(--p-max-width, 65ch);
  text-wrap: pretty;
}

menu,
ul,
ol {
  list-style: none;
}

/* Utility class to hide elements but keep it accessible */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

article {
  background: var(--clr-dark-grey);
  padding: clamp(1.25rem, 7vw, 2.5rem);
  /* padding: 2vw; */
  border-radius: 1rem;
  width: min(85%, 22.5rem);
}

figure {
  display: grid;
  place-items: center;
  margin-bottom: var(--spacing-m);
}

figure img {
  border-radius: 50%;
  width: 100px;
  aspect-ratio: 1;
  margin-bottom: var(--spacing-m);
}

figcaption h2 {
  font-size: var(--fs-500);
  margin-bottom: 0.75rem;
}

figure p {
  color: var(--clr-primary);
  font-weight: var(--fw-700);
  letter-spacing: 1px;
}

q {
  display: block;
  margin-bottom: 1.75rem;
  text-align: center;
}

menu {
  display: grid;
  place-items: center;
  gap: 1rem 0;
}

menu li {
  width: 100%;
  text-align: center;
}

.link {
  display: block;
  background: var(--clr-grey);
  padding: 1rem 0;
  border-radius: 0.75rem;
  color: var(--clr-white-accent);
  text-decoration: none;
  font-weight: var(--fw-600);

  transition: color 0.2s ease-in-out, box-shadow 0.2s ease-in-out,
    transform 0.2s ease-in-out, text-shadow 0.2s ease-in-out,
    letter-spacing 0.2s ease-in-out;
}

.link:hover {
  color: var(--clr-white);
  text-shadow: var(--clr-white) 1px 0 10px;
  box-shadow: 1px 5px 15px var(--clr-primary-accent);
  transform: translateY(-3px);
  letter-spacing: 2px;
}

.link:active {
  transform: translateY(-1px);
}

.link.fem:hover {
  box-shadow: 1px 5px 15px var(--clr-fem);
}
